@page "/posts/{Id:long}"

@inherits Components.CustomBaseComponent
@if (_post == null)
{
    <p>Loading...</p>
}
else
{
<div class="product__details">
    <div class="products__content_item details">
        <h2 class="product__details_title">@_post.Title</h2>
        <p hidden="@(_post.Description == null)" class="item__text"><span>Description: </span> @_post.Description</p>
        <p hidden="@(_post.Category == null)" class="item__text"><span>Category: </span> @_post.Category?.Name</p>
        <p hidden="@(_post.City == null)" class="item__text"><span>Located in: </span> @_post.City?.Name</p>
        <p hidden="@(_post.Address == null)" class="item__text"><span>Category: </span> @_post.Address</p>
        <p hidden="@(_post.ContactNumber == null)" class="item__text">
            <span>
                Contact number:
            </span> <a href="tel:@(_post.ContactNumber)" class="text-danger">@_post.ContactNumber</a>
        </p>
        <p hidden="@(_post.ReferencePoint == null)" class="item__text"><span>Reference point: </span> @_post.ReferencePoint</p>
        <p hidden="@(_post.RoomsNo == null)" class="item__text"><span>Number of rooms: </span> @_post.RoomsNo</p>
        <p hidden="@(_post.BathroomsNo == null)" class="item__text"><span>Number of bathrooms: </span> @_post.BathroomsNo</p>
        <p hidden="@(_post.BedsNo == null)" class="item__text"><span>Number of beds: </span> @_post.BedsNo</p>
        <p hidden="@(_post.MaxGuestsNo == 0)" class="item__text"><span>Maximum number of guests: </span> @_post.MaxGuestsNo</p>
        <p hidden="@(_post.SquareMeters == null)" class="item__text"><span>Square meters: </span> @_post.SquareMeters</p>
        <p hidden="@(_post.Price == 0)" class="item__text"><span>Price: </span> @_post.Price $</p>
        <p class="item__text"><span>Entire apartment available: </span> @(_post.IsWholeApartment ? "Yes" : "No")</p>
        <p hidden="@(_post.MovingInTime == null)" class="item__text"><span>Moving in time: </span> @_post.MovingInTime</p>
        <p hidden="@(_post.MovingOutTime == null)" class="item__text"><span>Moving out time: </span> @_post.MovingOutTime</p>
        <p hidden="@(_post.AdditionalInfo == null)" class="item__text"><span>Additional information: </span> @_post.AdditionalInfo</p>
        <p class="item__details"><span>Published on: </span> @_post.DatePublished</p>

    </div>
    @if (_post.Owner != null)
    {
        <div class="products__content_item details">
            <div>
                <h2 class="product__details_title">Owner</h2>
                <p class="item__text"><span>Name:</span> @_post.Owner.FirstName @_post.Owner.LastName</p>
                <p class="item__text"><span>Email:</span> @_post.Owner.Email</p>
                <p hidden="@(_post.Owner.PhoneNumber == null)" class="item__text"><span>Phone number:</span> @_post.Owner.PhoneNumber</p>
            </div>

            <div class="user_details">
                <a hidden="@(_post.Owner.PhoneNumber == null)" class="button" href="tel:@(_post.Owner.PhoneNumber)">Call</a>
                <a class="button" href="mailto:@(_post.Owner.Email)">Email</a>
                <a class="button" href="users/@_post.Owner.Id">See details</a>
            </div>
        </div>
    }
    @if (_post.Rules != null && _post.Rules.Count>0)
    {
        <div class="products__content_item details  justify-content-start">
            <h2 class="product__details_title">Rules</h2>
            @foreach (var rule in _post.Rules)
            {
                <p class="item__text">@(rule.OtherValue!=null?rule.OtherValue:rule.Item)</p>
            }
        </div>
    }
    @if (_post.Facilities != null && _post.Facilities.Count>0)
    {
        <div class="products__content_item details  justify-content-start">
            <h2 class="product__details_title">Facilities</h2>
            @foreach (var facility in _post.Facilities)
            {
                <p class="item__text">@(facility.OtherValue!=null? facility.OtherValue: facility.Item)</p>
            }
        </div>
    }
    @if (_post.Specificities != null && _post.Specificities.Count>0)
    {
        <div class="products__content_item details  justify-content-start">
            <h2 class="product__details_title">Specificities</h2>
            @foreach (var specificity in _post.Specificities)
            {
                <p class="item__text">@(specificity.OtherValue!=null? specificity.OtherValue: specificity.Item)</p>
            }
        </div>
    }
</div>
}



    @code {
private PostInfo _post;
    private List<FeedbackInfo> _feedbacks = new List<FeedbackInfo>();
    [Parameter]
    public long Id { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var reply = await client.GetAsync($"api/posts/{Id}");
        if (reply.IsSuccessStatusCode)
        {
            var responseStr = await reply.Content.ReadAsStringAsync();
            _post = JsonConvert.DeserializeObject<PostInfo>(responseStr);
            _post.Id = Id;
        }
    }
    }
