@if (Post != null)
{
    <div class="col-md-4">
        <article class="aa-properties-item">
            <a  href=@($"posts/{Post.Id}") class="aa-properties-item-img image__wrapper">
                <CoverImage PostId="Post.Id"  />
            </a>
            <div hidden="@(Post.City==null)" class="aa-tag for-rent">
                @Post.City
            </div>
            <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                    <span hidden="@(Post.RoomsNo==null||Post.RoomsNo==0)">@Post.RoomsNo Rooms</span>
                    <span hidden="@(Post.BedsNo==null||Post.BedsNo==0)">@Post.BedsNo Beds</span>
                    <span hidden="@(Post.BathroomsNo==null||Post.BathroomsNo==0)">@Post.BathroomsNo Bathrooms</span>
                    <span hidden="@(Post.MaxGuestsNo==null||Post.MaxGuestsNo==0)">@Post.MaxGuestsNo</span>
                </div>
                <div class="aa-properties-about">
                    <h3 hidden="@(Post.Title==null)">@Post.Title</h3>
                    <p hidden="@(Post.Category==null)" class="aa-price">
                        @Post.Category
                    </p>
                    <p hidden="@(Post.Description==null)">@Post.Description</p>
                    <p hidden="@(Post.Owner==null)" class="aa-price">
                        Posted by: <a href=@($"users/{Post.Owner?.Id}")>@Post.Owner?.FirstName @Post.Owner?.LastName</a> on
                        <span class="font-italic">
                            @Post.DatePublished.ToShortDateString()
                        </span>
                    </p>
                </div>
                <div class="aa-properties-detial">
                    <span class="aa-price">
                        @Post.Price $ per night
                    </span>
                    <a href=@($"posts/{Post.Id}") class="aa-secondary-btn">View Details</a>
                </div>
            </div>
        </article>
    </div>

}

@code {
    [Parameter]
    public PostResponse Post { get; set; }
}
