@page "/users"
@inject HttpClient client

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="users__list">
    @foreach (UserInfo user in _users)
    {
        <div class="user__item products__content_item">
            <div>
                <h2 class="title">@user.FirstName @user.LastName</h2>
                <a href=@($"mailto:{user.Email}") class="item__details">@user.Email</a>
                <p hidden="@(user.Country==null)" class="item__details">
                    Lives in @user.Country?.Name
                </p>
            </div>
            <a class="button mb-0" href=@($"users/{user.Id}")>View details</a>
        </div>
    }

</div>
}

@code {
    private List<UserInfo> _users;

    protected override async Task OnInitializedAsync()
    {
        var response = await client.GetAsync("api/users");
        if (response.IsSuccessStatusCode)
        {
            var responseStr = await response.Content.ReadAsStringAsync();

            _users = JsonConvert.DeserializeObject<List<UserInfo>>(responseStr);
        }
    }

}
